name: 生成 Sitemap

on:
  push:
    branches:
      - main
    paths:
      - '**/*.html'
      - '**/*.md'
  workflow_dispatch:

jobs:
  generate_sitemap:
    runs-on: ubuntu-latest

    steps:
      - name: 检出仓库
        uses: actions/checkout@v4

      - name: 设置 Node.js 环境
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: 创建 Sitemap
        run: node .action_scripts/JavaScript/generate-sitemap.mjs

      - name: 提交并推送 sitemap.xml
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          BRANCH_NAME="sitemap-update-$(date +%Y%m%d%H%M%S)"
          git checkout -b $BRANCH_NAME
          echo "已创建分支 $BRANCH_NAME"
          git config --global user.name "${{ secrets.BOT_ACCOUNT }}"
          git config --global user.email "${{ secrets.BOT_EMAIL }}"
          git add sitemap.xml
          git commit -m "更新 sitemap.xml"
          git push --set-upstream origin $BRANCH_NAME

          # 获取当前日期和时间
          DATE_TIME=$(date '+%Y/%m/%d %H:%M')

          # 生成工作流 URL
          WORKFLOW_URL="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

          # 使用 GitHub CLI 创建 PR，动态设置 body 内容为工作流链接
          gh pr create --title "[${DATE_TIME}] Auto update sitemap" \
                       --body "Created through the [workflow](${WORKFLOW_URL})." \
                       --base main \
                       --head $BRANCH_NAME \
                       --label "工作流,DEV-开发分支合并" \
                       --reviewer DuckDuckStudio

          echo "Pull Request 创建成功。"
